.main_todo_container{
    display: flex;
    justify-content: center;
}
.todo_container{
    background-color: whitesmoke;
    height: auto;
    width: 83vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.todo_header{
    display: flex ; 
    background-color: #D9D9D9ed;
    padding: 10px 0;
    align-items: center;
    width: 100%;
}
.todo_header h1{
    margin: 0;
    padding: 0 15px;
}
.todo_header svg{
    margin: 0 10px;
}
.current_date{
    padding: 0 10px;
}

.add_todo_form form{
    display: flex;
    flex-wrap: wrap;
}
.add_todo_form{
    width: 80%;
    display: flex;
}
.add_todo_form label{
    display: flex;
    align-items: center;
    width: 20%;
    margin: 11px 10px;
}
.add_todo_form input{
    width: 60%;
    padding: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}


.btn-primary{
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 20rem;

}
.show_todo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.show_todo table{
    width: 100%;
    border-collapse: collapse;
}
.show_todo {
    max-height: 250px; /* Adjust this value to your needs */
    overflow-y: auto;
    display: block;
  }