.form_section{
    display: flex;
    justify-content: center;
    margin: 25px 5px;
}


.form_container{


    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    width: 50vw;
    text-align: center;
}
.heading{
    text-align: end;
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: small;
}
.radio_button{
    margin: 15px 0;
}

.radio_button input[type="radio"]{
    margin: 0 10px;
}
.asteric_important{
    color: red;
    font-size: 1rem;
}
.CourtState_options, .input_fields{
    margin: 35px 0;
}
.CourtState_options label{
    padding: 0 25px;
}
.CourtState_options select {
    padding: 4px 20px;
    border-radius: 4px;
    width: 40%;
    border: 2px solid black;
}   
.fir_number_input{
    padding: 4px 20px;
    border-radius: 4px;
    border: 2px solid black;
    width: 31%;
    margin: 0 25px;
}
.fir_year_input{
    padding: 4px 20px;
    border-radius: 4px;
    border: 2px solid black;
    width: 24%;
    margin: 0 31px;
}
.captcha{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 10px;
}
.input_fields label{
padding: 0px 10px;
}
.causelist_heading {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}



/* ----------------------outPut Screen CSS -------------- */

.output{
    margin: 40px 0 20px 0px;
    display: flex;
    justify-content: center ;
   
}